@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Welcome to the Saleboard Webapp! Please log in or signup if you have not yet!</p>
</div>
