@{
    ViewData["Title"] = "Payment confirmed";
}

<div class="text-center">
    <h1 class="display-4">Payment confirmed!</h1>
    <p>You have confirmed payment! Please check your purchases for your purchased items!</p>
</div>
